<div data-alert class="alert-box alert round" id="form-error" style="display:none">
   Error! Your bank account could not be configured.
</div>
<form id="balanced-form">
  <div>
    <label>Account holder's name:</label>
    <input type="text" id="ba-name" autocomplete="off" required />
  </div>
  <div>
    <label>Routing number:</label>
    <input type="text" id="ba-routing" autocomplete="off" required />
  </div>
  <div>
    <label>Account number:</label>
    <input type="text" id="ba-number" autocomplete="off" />
  </div>
  <div>
    <label>Account type:</label>
    <select id="ba-type" required>
      <option value="savings">Savings</option>
      <option value="checking">Checking</option>
    </select>
  </div>
  <div>
 	<a href="#" id="ba-create" class="button expanded">Add Bank Account</a>
  </div>
</form>
