<form id="balanced-form">
  <div>
    <label>Account holder's name:</label>
    <input type="text" id="ba-name" autocomplete="off" />
  </div>
  <div>
    <label>Routing number:</label>
    <input type="text" id="ba-routing" autocomplete="off" />
  </div>
  <div>
    <label>Account number:</label>
    <input type="text" id="ba-number" autocomplete="off" />
  </div>
  <div>
    <label>Account type:</label>
    <select id="ba-type">
      <option value=""></option>
      <option value="savings">Savings</option>
      <option value="checking">Checking</option>
    </select>
  </div>
  <div>
    <a href="#" id="ba-create">Create</a>
  </div>
</form>